<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <form th:action="@{/pergunta/(form)}" method="POST" th:object="${pergunta}">

            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="txtpergunta">Pergunta:</label>
                <input type="text" class="form-control"
                    id="txtpergunta" th:field="*{pergunta}">
            </div>
            <div class="form-group">
                <label for="alterar">Alternativa:</label>
                <select class="form-select" id="alterar" th:field="${pergunta.alternativa}">
                    <option th:value="true">Verdadeiro
                    </option>
                    <option th:value="false">Falso
                    </option>
                </select>
                </div>
            
            
            
            
            
            <!-- <div class="form-group">
                <input type="checkbox" id="booleanalternativa" th:field="*{pergunta}">
                <label for="booleanalternativa">Verdadeiro</label><br>
            </div>
            <div class="form-group">
                <input type="checkbox" id="booleanalternativa" th:field="*{pergunta}">
                <label for="booleanalternativa">falso</label><br>
            </div> -->

            
            <button type="submit" 
            class="btn btn-primary">Enviar</button> 
        </form>
    </main>
    <footer th:include="layout :: footer"></footer>
</body>

</html>