<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <div class="card text-bg-dark">
            <img src="img/quiz2.jpeg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5></h5>
        
                <div class="d-grid gap-2 col-8 mx-auto">
                    
                    <a class="btn btn-success btn-lg" href="/quiz">Jogar</a>
                  </div>
              
            </div>
          </div>
    </main>
    <footer th:include="layout :: footer"></footer>
</body>

</html>