<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <a href="/quiz/novo" class="btn btn-primary">Novo</a>
        
            <table class="table" id="tabquiz">
                <thead>
                    <tr>
                      <th>Id</th>
                      <th>Perguntas:</th>
                      
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- erro -->
                    <tr th:each="umQuiz : ${listaQuizes}">
                      <td th:text="${umQuiz.id}"></td>
                      <td><div class="form-group">
                        <label>Perguntas</label>
                        <select class="form-select" >
                            <option th:each="umaPergunta : ${listaPerguntas}" th:text="${umaPergunta.pergunta}"
                                th:value="${umaPergunta.id}"></option>
                        </select>
                    </div>
                  </td>
                      <td>
                        <a th:href="@{'/quiz/alterar/' + ${umQuiz.id}}" class="btn btn-warning">Alterar</a>
                        <button class="btn btn-danger js-delete" th:data-id="${umQuiz.id}">Excluir</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </main>
    <footer th:include="layout :: footer"></footer>
</body>

</html>