<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: head"></head>

<body>
  <nav th:replace="layout :: menu"></nav>
  <main class="container">
    <a href="/quiz/novo" class="btn btn-primary">Novo</a>

    <table class="table" id="tabquiz">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>

          <th></th>
        </tr>
      </thead>
      <tbody>

        <tr th:each="umQuiz : ${listaQuizes}">
          <td th:text="${umQuiz.id}"></td>
          <td th:text="${umQuiz.nome}"></td>


          <!-- <div class="form-group">
                        <label>Perguntas</label>
                        <select class="form-select" >
                            <option th:each="umaPergunta : ${listaPerguntas}" th:text="${umaPergunta.pergunta}"
                                th:value="${umaPergunta.id}"></option>
                        </select>
                    </div> -->

          <td>
            <a th:href="@{'/quiz/alterar/' + ${umQuiz.id}}" class="btn btn-warning">Alterar/Visualizar</a>
            <button class="btn btn-danger js-delete" th:data-id="${umQuiz.id}">Excluir</button>
            <div th:each="umaPergunta : ${listaPerguntas}">
              <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5">Pergunta</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" th:text="${umaPergunta.pergunta}">

                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal">Próxima pergunta</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="exampleModalToggle2" aria-hidden="true"
                aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Pergunta</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" th:text="${umaPergunta.pergunta}">

                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-dismiss="modal">terminar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="btn btn-success" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Jogar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
  <div class="modal" tabindex="-1" id="modalquiz">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Excluir quiz?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Confirma a exclusão do quiz?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btnnao" data-bs-dismiss="modal">Não</button>
          <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
        </div>
      </div>
    </div>
  </div>
  <footer th:include="layout :: footer"></footer>
  <script th:src="@{/script.js}"></script>
</body>

</html>