<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
      <table class="table" id="tabquiz">
        <thead>
          <tr>
            <th>Pergunta</th>
  
            <th>Resposta</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
  
          <tr th:each="umaPergunta : ${listaPerguntas}">
            <td th:text="${umaPergunta.pergunta}"></td>
            <td>
              <!-- aqui -->
              <a th:href="@{'/alternativa/' + '${umaPergunta.alternativa}'}" class="btn btn-success">Verdadeiro</a>
              <a th:href="@{'/alternativa/' + '${umaPergunta.id}' + '${umaPergunta.alternativa}'}" class="btn btn-danger">Falso</a>
          </td>
          </tr>
        </tbody>
      </table>
    </main>
    <footer th:include="layout :: footer"></footer>
</body>

</html>